about#About
    .about-wrap
        .col-left
            .portrait
        .col-right
            .word-wrap
                h2(style="margin:20px 0") Hello!
                p(style="margin-bottom:10px") My name is Zhi Zhou.
                p I am an Architecture student eager to explore more than just Architecture. My principle is “do everything by myself”. Therefore, I learned drawing, modeling, programing and for now, constructing personal website on my own. I believe that technology will have great impact on Architecture.


