about#About
    .about-wrap
        .col-left
            .portrait
        .col-right
            .word-wrap
                h2 Hello!
                p.one My name is Zhi Zhou.
                p.two I am an Architecture student eager to explore more than just Architecture. My principle is “do everything by myself”. Therefore, I learned drawing, modeling, programing and for now, constructing personal website on my own. I believe that technology will have a great impact on Architecture.


