doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title ZZNEWCLEAR13.ME - My Personal Website
    
    body
        h1 Welcome To my personal website!
        img(src="../images/articles/post_01/Stadium_Design.jpg")
        //img(src=require("../images/articles/post_01/Stadium_Design.jpg"))