vuetabs#Work
    .button-wrap
        .buttons
            button(class='dynamicTabs design').is-active Design
            button(class='dynamicTabs research') Research 
            button(class='dynamicTabs other') Other        